@using Jmelosegui.Mvc.GoogleMap
@using System.Text.Json
@using System.Collections.Generic

@{
    ViewData["Title"] = "Home Page";
    double centerLat = ViewBag.CenterLat != null ? (double)ViewBag.CenterLat : 33.876118; // Default latitude
    double centerLng = ViewBag.CenterLng != null ? (double)ViewBag.CenterLng : -117.921410; // Default longitude

    //var locations = (List<dynamic>)ViewBag.Locations;

}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div class="row">
    <div class="col-md-12">
        @(Html.GoogleMap()
              .Name("map")
              .Height(500)
              .ApiKey(Environment.GetEnvironmentVariable("google-maps-api-key"))
          )
    </div>


@section scripts
{
    @(Html.GoogleMap().ScriptRegistrar())
    
}